<h1>LOGIN PAGE</h1>
<form class="login-form" action="/login" method="POST">
  <label for="login-field">Login</label>
  <input id="login-field" type="text" name="username">
  <label for="input-field">Password</label>
  <input id="input-field" type="password" name="password">
  <input type="submit">
</form>
<div>
  <h3>If you haven't account yet, please sign up</h3>
  <button class="sign-but">Sign up</button>
</div>
<script src="../../public/script.js"></script>