<h1>LOGIN PAGE</h1>
<form class="login-form" action="/login" method="POST">
  <label for="login-field">Login</label>
  <input id="login-field" type="text" name="username" required>
  <label for="input-field">Password</label>
  <input id="input-field" type="password" name="password" required>
  <input type="submit">
</form>
<script src="script.js"></script>