<h1>SIGNUP PAGE</h1>
<form class="signup-form" action="/signup" method="POST">
  <label for="fname-field">First name</label>
  <input id="fname-field" type="text" name="firstName" required>
  <label for="lname-field">Last name</label>
  <input id="lname-field" type="text" name="lastName" required>
  <label for="phone-field">Phone</label>
  <input id="phone-field" type="text" name="phone" required>
  <label for="email-field">Email</label>
  <input id="email-field" type="text" name="email" required>
  <label for="login-field">Username</label>
  <input id="login-field" type="text" name="username" required>
  <label for="input-field">Password</label>
  <input id="input-field" type="password" name="password" required>
  <input type="submit">
</form>